<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>技能培训</title>
</head>

<body>
<table width="520" border="0" cellspacing="0" cellpadding="0" style="font-family:微软雅黑;background:#eaeaea;">
  <tr>
    <td width="16" bgcolor="#eaeaea">&nbsp;</td>
    <td colspan="2" align="left" valign="top" bgcolor="#eaeaea">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="68%" style="border-bottom-color:#333333;padding-top:10px; border-bottom-style:solid; border-bottom-width:1px; "><span style=" color:#333333; font-size:24px; ">技能培训</span></td>
          <td width="32%" align="right" valign="bottom" style="border-bottom-color:#333333; border-bottom-style:solid; border-bottom-width:1px;padding-top:10px;"><span style=" color:#333333; font-size:14px;">入场券</span></td>
        </tr>
    </table></td>
  <td width="10" bgcolor="#eaeaea">&nbsp;</td>
     <td width="125" rowspan="3" align="center" valign="middle" bgcolor="#eaeaea" style="border-left-color:#bacfd3; border-left-style: dashed; border-left-width:1px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="middle"><div style="color:#555555; font-size:18px; border-bottom-color:#555555; border-bottom-style:solid; border-bottom-width:1px; width:100px; line-height:30px; margin-bottom:10px;"><b>副券</b></div></td>
  </tr>
  <tr>
    <td height="25" align="center" valign="middle"><span style=" color:#555555; font-size:12px;">技能培训</span></td>
  </tr>
  <tr>
    <td height="20" align="center" valign="middle"><span style=" color:#555555; font-size:12px;">SMART J</span></td>
  </tr>
  <tr>
    <td height="25" align="center" valign="middle"><span style="font-size:12px; line-height:25px; color:#808080;">{email:100s}</span></td>
  </tr>
</table>

     </td>
  </tr>
  <tr>
    <td bgcolor="#eaeaea">&nbsp;</td>
    <td width="151" bgcolor="#eaeaea" style="padding-top:8px;"><span style=" color:#333333; font-size:12px;">SMART J</span><br />
    <div style=" margin-top:8px;"><img src="cid:{image:100s}" width="140" height="140" /></div>
    </td>
    <td width="198" align="left" valign="top" bgcolor="#eaeaea" style="padding-top:28px;"><div style="font-size:13px; line-height:28px; color:#808080;">技能：{name:100s}<br />
    场次：{courseTime:50s}<br />
    座位：{seat:100s}<br />
    姓名：{email:100s}</div></td>
    <td bgcolor="#eaeaea">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#eaeaea">&nbsp;</td>
    <td colspan="2" bgcolor="#eaeaea" style="padding-top:8px; padding-bottom:12px;"><span style="font-size:11px; color:#888888;">*最终解释权归Gala Friday制片方</span></td>
    <td bgcolor="#eaeaea">&nbsp;</td>
  </tr>
</table>
</body>
</html>
